# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Moyasar pk_live & Tamara screet
assets/js/config.js

# Secret (files)
assets/secret/google-tag-manager.html
assets/secret/cashif.png
assets/secret/cashif-blog.png
assets/secret/payment-gateway-(secret keys).txt
assets/secret/apple-developer-merchantid-domain-association

# Finder metadata
.DS_Store
