* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -moz-border: 0;
  font-family: "mont-reg";
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f0f1f3;
  /* padding: 8px !important; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  direction: rtl;
}

@font-face {
  font-family: "mont-bold";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Bold.ttf);
}
@font-face {
  font-family: "mont-medium";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Medium.ttf);
}
@font-face {
  font-family: "mont-reg";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Regular.ttf);
}
@font-face {
  font-family: "mont-light";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Light.ttf);
}
@font-face {
  font-family: "mont-semi";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-SemiBold.ttf);
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  padding: 8px;
  background-color: #174545;
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 50px;
}

.text-box {
  padding: 90px;
}

.text-box ul {
  padding: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
}

.text-box li {
  color: #757575;
  margin-bottom: 32px;
  font-family: "mont-light" !important;
}

.text-box li strong {
  color: #212529;
}

.text-box p {
  color: #757575;
}

@media (max-width: 625px) {
  .text-box h1 {
    text-align: center;
  }

  .text-box {
    padding: 16px;
    padding-top: 64px !important;
  }

  .text-box ul {
    padding: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/*  */

/* Start Footer */
footer {
  font-size: 14px;
  color: #757575;
  text-align: center;
  padding: 16px;
  background-color: #f0f1f3;
}

footer p {
  margin-bottom: 0px;
  font-family: "mont-light" !important;
}

footer .footer-links-box {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  font-family: "mont-light" !important;
}

footer .footer-links-box a {
  font-family: "mont-light" !important;
}

@media (max-width: 768px) {
  footer .footer-links-box {
    font-size: 12px;
    gap: 12px;
  }
}
/* End Footer */

/* Start Whatsapp Icon */
.sticky-icon {
  position: fixed;
  width: 60px;
  height: 60px;
  left: 30px;
  bottom: 30px;
  z-index: 9999;
  background-color: #25d366;
  border-radius: 100%;
  color: #fff !important;
  font-size: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

@media (max-width: 625px) {
  .sticky-icon {
    width: 55px;
    height: 55px;
  }

  .hide-btn {
    bottom: -66px;
  }
}

/* End Whatsapp Icon */

@media (max-width: 625px) {
  .small-text-in-small-screeen {
    font-size: 15px;
  }
}
