* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -moz-border: 0;
  font-family: "mont-reg";
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f0f1f3;
  padding: 16px !important;
  margin: 0px;
  overflow-x: hidden;
  direction: rtl;
}

@font-face {
  font-family: "mont-bold";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Bold.ttf);
}
@font-face {
  font-family: "mont-medium";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Medium.ttf);
}
@font-face {
  font-family: "mont-reg";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Regular.ttf);
}
@font-face {
  font-family: "mont-light";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Light.ttf);
}
@font-face {
  font-family: "mont-semi";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-SemiBold.ttf);
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 28px;
}

h4 {
  color: #757575;
  font-size: 18px;
  margin-bottom: 40px;
}

@media (max-width: 625px) {
  h4 {
    font-size: 16px;
    line-height: 1.5;
  }
  ul {
    gap: 14px;
  }

  ul svg {
    /* display: none; */
    width: 12px;
    height: 12px;
  }

  ul a {
    font-size: 12px;
    text-decoration: underline;
  }
}

/* Start QR */
.qr-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-box div {
  width: fit-content;
  position: relative;
}

.download-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: -19px;
  left: 0;
  background-color: transparent;
}
.download-btn svg {
  fill: #0d6efd;
}
/* End QR */

/* Start Whatsapp Icon */
.sticky-icon {
  position: fixed;
  width: 60px;
  height: 60px;
  left: 30px;
  bottom: 30px;
  z-index: 9999;
  background-color: #25d366;
  border-radius: 100%;
  color: #fff !important;
  font-size: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

@media (max-width: 625px) {
  .sticky-icon {
    width: 55px;
    height: 55px;
  }
}

.hide-btn {
  bottom: -66px;
}

/* End Whatsapp Icon */
.thanks-box {
  display: none;
}
.error-box {
  display: none;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* Our patner */
.partner-container {
  background-color: #174545;
  border-radius: 16px;
  padding: 16px;
  padding-top: 48px;
  margin-top: 32px;
}
.partner-container h2 {
  color: #fff;
  text-align: center;
}
.partner-container h4 {
  color: #bbb;
  margin-bottom: 48px;
  text-align: center;
}
.partner-container span {
  color: #e1d296;
}
.partner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.partner-box div {
  width: 300px;
  position: relative;
}
.partner-box img {
  width: 100%;
}
.partner-box p {
  text-align: center;
  color: #fff;
  font-size: 9px;
  margin-bottom: 0;
  margin-top: 6px;
}

@media (max-width: 625px) {
  .partner-box div {
    width: 100%;
  }
}
