* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -moz-border: 0;
  font-family: "mont-reg";
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #fafafa;
  padding: 8px !important;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  direction: rtl;
}

@font-face {
  font-family: "mont-bold";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Bold.ttf);
}
@font-face {
  font-family: "mont-medium";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Medium.ttf);
}
@font-face {
  font-family: "mont-reg";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Regular.ttf);
}
@font-face {
  font-family: "mont-light";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-Light.ttf);
}
@font-face {
  font-family: "mont-semi";
  src: url(../fonts/ArbFONTS-Montserrat-Arabic-SemiBold.ttf);
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  color: #fff;
}

/*  */
.white-background {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 64px 16px 0 16px;
}

.general-container {
  display: flex;
  justify-content: space-evenly;
}

.steps-box {
  /* background-color: red; */
}
.steps-box h1 {
  margin-bottom: 32px;
}
.steps-box ol {
  padding-right: 18px;
  /* padding-right: 0; */
}
.steps-box ol li {
  padding-bottom: 16px;
  color: #757575;
}
.line-through {
  text-decoration: line-through;
}

@media (max-width: 1030px) {
  body {
    padding: 0 !important;
  }
  .white-background {
    padding: 0;
  }
  .general-container {
    justify-content: space-evenly;
    flex-direction: column;
  }
  .steps-box {
    padding: 16px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .steps-box h1 {
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .steps-box ol {
    padding-left: 0;
    font-size: 14px;
  }
}

/*  */

/*Start  Section*/
.title-box {
  margin-top: 48px;
  margin-bottom: 32px;
}

.title-box h2 {
  color: #174545;
  text-align: center;
  font-family: "mont-medium";
  font-size: 25px;
  font-weight: 600;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
/*End  section*/

/*Start Our Services Section*/
.services-section {
  padding: 16px;
  width: 100% !important;
  padding: 0 !important;
}

.services-section .row {
  row-gap: 30px;
}
@media (max-width: 625px) {
  .services-section .row {
    row-gap: 20px;
  }
}

.services-section .service-card {
  padding: 45px;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #fff;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .services-section .service-card {
    padding: 8px;
    padding-top: 32px;
  }
}

.services-section .service-card .service-img {
  width: 100px;
  height: 100px;
  margin: 0 auto 25px;
  background-color: #174545;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-section .service-card .service-img img {
  width: 50px;
  /* height: 30px; */
  fill: #e6d39c;
}

.services-section .service-card h4 {
  text-align: center;
  color: #174545;
  font-family: "mont-medium";
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 625px) {
  .services-section .service-card h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0;
  }
}

.services-section .service-card ul {
  margin: 20px 0 0;
  list-style: none;
}

.services-section .service-card ul li {
  position: relative;
  margin-bottom: 16px;
  font-size: 15px;
  font-family: "mont-light";
  line-height: 1.7;
  color: #757575;
  font-size: 16px;
  line-height: 1.7;
  font-family: "mont-medium";
  display: flex;
  align-items: center;
  gap: 9px;
}

.services-section .service-card p {
  text-align: center !important;
  color: #757575 !important;
  margin-bottom: 16px;
  margin-top: 6px;
  font-size: 14px;
  font-family: "mont-light";
}

.services-section .service-card ul li:last-child {
  margin-bottom: 0;
}

.MuiSvgIcon-root {
  width: 10px;
  /* margin-left: 12px; */
  fill: #757575;
}

.paid-serv {
  width: fit-content;
}

@media (max-width: 625px) {
  .paid-serv {
    width: 100%;
  }
}

label {
  color: #747a79;
}

input[type="checkbox"]:checked + label {
  color: #174545;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputs-box {
  width: fit-content;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 32px;
}
/*End Our Services Section*/

.note-box p {
  color: #757575;
}

.note-box p span {
  color: red;
}

.sub-title-box {
}

.sub-title-box h3 {
  text-align: center;
  margin-bottom: 16px;
  color: #174545;
}

/* Start table */
.table-container {
  position: relative;
  z-index: 99;
  padding-right: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  /* background-color: red; */
  width: fit-content;
  background-color: #fafafa;
  min-width: 372px;
}

@media (max-width: 768px) {
  .box {
    min-width: 100%;
  }
}

.inputs-containers {
  width: 100%;
  padding: 16px;
}

.form-control,
.form-select {
  height: 39px;
  border: none;
  box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .form-control,
  .form-select {
    height: 47px;
  }
}

.inputs-containers input {
  /* max-width: 340px; */
}

.mysr-form {
  width: 100% !important;
}

.form-label,
select,
option {
  font-size: 13px;
  line-height: normal !important;
  -webkit-font-smoothing: antialiased;
  transition: all 0.1s ease;
  text-transform: unset;
  font-size: 13px;
  font-weight: 500;
  color: rgba(26, 26, 26, 0.9) !important;
}

@media (max-width: 767px) {
  .table-box {
    width: 100% !important;
    height: fit-content !important;
  }
  .inputs-containers {
    width: 100%;
  }

  .inputs-containers input {
    max-width: unset;
    width: 100%;
  }
}

@media (min-width: 767px) {
  .paragraph-under-discount-input {
    max-width: 340px;
  }
}

.table-box {
  padding: 16px;
  /* border-radius: 6px; */
  overflow: hidden;
  width: 100%;
  /* background-color: red; */
}

table > :not(caption) > * > * {
  background-color: transparent !important;
  border-color: #ececec !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

table th,
table td {
  color: #747a79 !important;
  font-size: 15px !important;
}

#car-model-name {
  font-size: 12px;
  color: #1a1a1ae6 !important;
}

.table {
  width: 100%;
  margin: 0;
}

@media (max-width: 625px) {
  .table {
    width: 100%;
  }

  .table-box {
    width: 100%;
  }
}

.discount-bttn {
  min-width: 165px;
  height: 55px;
  padding: 10px 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #e2d399;
  color: #174545;
  font-size: 18px;
  margin: 16px 0 0;
  transition: 0.2s;
  transition: 0.2s;
}

.discount-bttn:hover {
  background-color: #174545;
  color: #fff;
}

@media (max-width: 768px) {
  .discount-bttn {
    margin: 16px 0 0;
  }
}
/* end table */

/* Start Footer */
footer {
  font-size: 14px;
  color: #757575;
  text-align: center;
  padding: 16px;
  padding-bottom: 8px;
}

@media (max-width: 768px) {
  footer {
    background-color: #fafafa;
  }
}

footer p {
  margin-bottom: 6px;
  font-family: "mont-light" !important;
}

footer .footer-links-box {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  font-family: "mont-light" !important;
}

footer .footer-links-box a {
  font-family: "mont-light" !important;
}

@media (max-width: 768px) {
  footer .footer-links-box {
    font-size: 12px;
    gap: 12px;
  }
}
/* End Footer */

/* Start Whatsapp Icon */
.sticky-icon {
  position: fixed;
  width: 60px;
  height: 60px;
  left: 30px;
  bottom: 30px;
  z-index: 9999;
  background-color: #25d366;
  border-radius: 100%;
  color: #fff !important;
  font-size: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

@media (max-width: 625px) {
  .sticky-icon {
    width: 55px;
    height: 55px;
  }
}

.hide-btn {
  bottom: -66px;
}

/* End Whatsapp Icon */

@media (max-width: 625px) {
  .small-text-in-small-screeen {
    font-size: 15px;
  }
}

.spinner {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
